HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/
/src/test/
/src/main/resources/application.yml
/local-ai/ws-response.log
/local-ai/ws-robot-test.js
/local-ai/
/run-6001.log
/robot.md
/tmp-story-qa-audio/
/tmp-story-audio/
/scripts/
/API-new/
/mobile.md

/spiffs.bin
/data/audio/cant_connect_wifi.wav
/data/audio/no_speech.wav
/README.md
/data/audio/start_success.wav
